@page "/"
@using FootBallers.Services

<PageTitle>Добавить футболиста</PageTitle>

<h1>Добавить футболиста</h1>

<div>
    <div>Имя</div>
    <input @bind="footballerDto.Name"/>
    <div>Фамилия</div>
    <input @bind="footballerDto.Surname"/>
    <div>Пол</div>
    <input @bind="footballerDto.Sex"/>
    <div>Дата рождения</div>
    <input @bind="footballerDto.Birthday"/>
    <div>Команда</div>
    <input @bind="footballerDto.Team" />
    <div>Страна</div>
    <input @bind="footballerDto.Country" />
</div>

<button @onclick="Add">Добавить</button>

@inject IFootballersService service;
@code{
    private FootballerDto footballerDto = new FootballerDto();

    private async Task Add()
    {
        await service.AddAsync(footballerDto);
    }
}
